body {
	background-color: #f96d6d;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	padding-top: 50px;
	color: white;
	text-shadow: 5px 5px 10px black
}

h1 {
	font-size: 60px;
}

#smolText {
	font-size: 10px;
}

p {
	font-size: 40px;
}

button {
	border: 2px solid #8fb1e9;
	border-radius: 4px;
	background-color: #a9d7f6;
	font-size: 25px;
	margin: ;
	width: 125px;
	height: 40px;
}
